In [1]:
import pandas as pd
import os
from IPython.display import display

In [2]:
rents_data = "data/rents.csv"
rents_df = pd.read_csv(rents_data, sep=';', low_memory=False)
#pd.set_option('display.max_columns', None)
print(display(rents_df))

,Ejari Contract Number,Registration Date,Start Date,End Date,Property ID,Version,Area,Contract Amount,Annual Amount,Is Free Hold?,...,Property Sub Type,Number of Rooms,Usage,Nearest Metro,Nearest Mall,Nearest Landmark,Parking,No of Units,Master Project,Project
0,120210425000238,25/04/2021 09:36:31,13/04/2021 00:00:00,12/04/2026 00:00:00,1058329686,New,Dubai Investment Park Second,25000,5000,Free Hold,...,Factory,NaN,Industrial,NaN,NaN,Expo 2020 Site,NaN,1,NaN,NaN
1,120210526001582,26/05/2021 12:12:22,01/06/2021 00:00:00,30/11/2025 00:00:00,99539298,New,Um Nahad Third,16000000,4000000,Free Hold,...,Building,NaN,Residential,NaN,NaN,NaN,NaN,1,NaN,NaN
2,120210526001913,26/05/2021 12:47:49,15/06/2021 00:00:00,14/12/2025 00:00:00,99539289,New,Um Nahad Third,16000000,4000000,Free Hold,...,Building,NaN,Residential,NaN,NaN,NaN,NaN,1,NaN,NaN
3,120210526002150,26/05/2021 13:14:55,01/07/2021 00:00:00,31/12/2025 00:00:00,99539307,New,Um Nahad Third,16000000,4000000,Free Hold,...,Building,NaN,Residential,NaN,NaN,NaN,NaN,1,NaN,NaN
4,120210526002235,26/05/2021 13:27:36,15/07/2021 00:00:00,14/01/2026 00:00:00,99539316,New,Um Nahad Third,16000000,4000000,Free Hold,...,Building,NaN,Residential,NaN,NaN,NaN,NaN,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5475126,99821944,24/06/2013 09:38:01,10/09/2013 00:00:00,09/09/2014 00:00:00,557988,Renewed,Al Safouh Second,150000,150000,Non Free Hold,...,Villa,NaN,Residential,Knowledge Village,Marina Mall,Burj Al Arab,2.0,1,NaN,NaN
5475127,120141110001107,19/03/2015 10:18:19,21/02/2015 00:00:00,20/02/2016 00:00:00,557991,Renewed,Al Safouh Second,165000,165000,Non Free Hold,...,Villa,NaN,Residential,Knowledge Village,Marina Mall,Burj Al Arab,2.0,1,NaN,NaN
5475128,120130716001123,15/03/2015 11:50:17,21/03/2015 00:00:00,20/03/2016 00:00:00,558048,Renewed,Al Safouh Second,168000,168000,Non Free Hold,...,Villa,NaN,Residential,Knowledge Village,Marina Mall,Burj Al Arab,2.0,1,NaN,NaN
5475129,120140515002099,09/03/2015 13:35:26,29/05/2015 00:00:00,28/05/2016 00:00:00,558024,Renewed,Al Safouh Second,180000,180000,Non Free Hold,...,Villa,NaN,Residential,Knowledge Village,Marina Mall,Burj Al Arab,2.0,1,NaN,NaN
5475130,120140619001536,29/03/2015 12:27:13,25/06/2015 00:00:00,24/06/2016 00:00:00,558102,Renewed,Al Safouh Second,168000,168000,Non Free Hold,...,Villa,NaN,Residential,Knowledge Village,Marina Mall,Burj Al Arab,2.0,1,NaN,NaN

None

In [3]:
# - .strip() removing leading/trailing whitespcaes
# - .replace() replace spaces with underscores
# - .lower() convert all uppercase to lowercase


rents_df.columns = rents_df.columns.str.lower().str.strip().str.replace(' ', '_')

#
rents_df.head()

,ejari_contract_number,registration_date,start_date,end_date,property_id,version,area,contract_amount,annual_amount,is_free_hold?,...,property_sub_type,number_of_rooms,usage,nearest_metro,nearest_mall,nearest_landmark,parking,no_of_units,master_project,project
0,120210425000238,25/04/2021 09:36:31,13/04/2021 00:00:00,12/04/2026 00:00:00,1058329686,New,Dubai Investment Park Second,25000,5000,Free Hold,...,Factory,NaN,Industrial,NaN,NaN,Expo 2020 Site,NaN,1,NaN,NaN
1,120210526001582,26/05/2021 12:12:22,01/06/2021 00:00:00,30/11/2025 00:00:00,99539298,New,Um Nahad Third,16000000,4000000,Free Hold,...,Building,NaN,Residential,NaN,NaN,NaN,NaN,1,NaN,NaN
2,120210526001913,26/05/2021 12:47:49,15/06/2021 00:00:00,14/12/2025 00:00:00,99539289,New,Um Nahad Third,16000000,4000000,Free Hold,...,Building,NaN,Residential,NaN,NaN,NaN,NaN,1,NaN,NaN
3,120210526002150,26/05/2021 13:14:55,01/07/2021 00:00:00,31/12/2025 00:00:00,99539307,New,Um Nahad Third,16000000,4000000,Free Hold,...,Building,NaN,Residential,NaN,NaN,NaN,NaN,1,NaN,NaN
4,120210526002235,26/05/2021 13:27:36,15/07/2021 00:00:00,14/01/2026 00:00:00,99539316,New,Um Nahad Third,16000000,4000000,Free Hold,...,Building,NaN,Residential,NaN,NaN,NaN,NaN,1,NaN,NaN