In [25]:
import pandas as pd
import os
from IPython.display import display

In [26]:
sales_data = "data/transactions.csv"
sales_df = pd.read_csv(sales_data, sep=';', low_memory=False)
#pd.set_option('display.max_columns', None)
print(display(sales_df))

,Transaction Number,Transaction Date,Property ID,Transaction Type,Transaction sub type,Registration type,Is Free Hold?,Usage,Area,Property Type,...,Property Size (sq.m),Room(s),Parking,Nearest Metro,Nearest Mall,Nearest Landmark,No. of Buyer,No. of Seller,Master Project,Project
0,13-7700-2022,02/06/2022 16:18,44581083,Mortgage,Mortgage Registration,Ready,Free Hold,Residential,AKOYA OXYGEN,Land,...,174.80,NaN,NaN,NaN,NaN,Dubai Cycling Course,0.0,0.0,NaN,DAMAC HILLS (2) - ODORA
1,13-7699-2022,02/06/2022 16:14,44014284,Mortgage,Mortgage Registration,Ready,Free Hold,Residential,AKOYA OXYGEN,Land,...,174.80,NaN,NaN,NaN,NaN,Dubai Cycling Course,0.0,0.0,NaN,DAMAC HILLS (2) - ZINNIA
2,14-563-2022,02/06/2022 15:42,280311,Mortgage,Modify Mortgage,Ready,Non Free Hold,Residential,Al Barshaa South First,Land,...,1188.42,NaN,NaN,Sharaf Dg Metro Station,Mall of the Emirates,Motor City,0.0,0.0,NaN,NaN
3,11-12317-2022,02/06/2022 15:22,79102731,Sales,Sale,Ready,Free Hold,Commercial,AL FURJAN,Land,...,600.51,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN
4,11-12316-2022,02/06/2022 15:07,132952797,Sales,Sale,Ready,Free Hold,Residential,AKOYA OXYGEN,Land,...,112.24,NaN,NaN,NaN,NaN,Dubai Cycling Course,1.0,1.0,NaN,DAMAC HILLS (2) - AMARGO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995970,13-1699-1996,14/02/1996 00:00,256488,Mortgage,Mortgage Registration,Ready,Non Free Hold,Residential,Al Manara,Land,...,1393.55,NaN,NaN,First Abu Dhabi Bank Metro Station,Mall of the Emirates,Burj Al Arab,0.0,0.0,NaN,NaN
995971,13-1701-1996,24/01/1996 00:00,391611,Mortgage,Mortgage Registration,Ready,Non Free Hold,Residential,Al Satwa,Land,...,1390.01,NaN,NaN,Financial Centre,Dubai Mall,Burj Khalifa,0.0,0.0,NaN,NaN
995972,13-1742-1995,26/10/1995 00:00,216804,Mortgage,Mortgage Registration,Ready,Non Free Hold,Residential,Al Mezhar Second,Land,...,1858.06,NaN,NaN,Etisalat Metro Station,City Centre Mirdif,Dubai International Airport,0.0,0.0,NaN,NaN
995973,13-1746-1995,18/10/1995 00:00,536243421,Mortgage,Mortgage Registration,Ready,Non Free Hold,Residential,Al Goze First,Land,...,929.03,NaN,NaN,Business Bay Metro Station,Dubai Mall,Downtown Dubai,0.0,0.0,NaN,NaN
995974,13-1744-1995,07/03/1995 00:00,246591,Mortgage,Mortgage Registration,Ready,Non Free Hold,Residential,Um Suqaim First,Land,...,1393.55,NaN,NaN,Noor Bank Metro Station,Mall of the Emirates,Burj Al Arab,0.0,0.0,NaN,NaN

None

In [15]:
# - .strip() removing leading/trailing whitespcaes
# - .replace() replace spaces with underscores
# - .lower() convert all uppercase to lowercase


sales_df.columns = sales_df.columns.str.lower().str.strip().str.replace(' ', '_')

#
sales_df.head()

,transaction_number,transaction_date,property_id,transaction_type,transaction_sub_type,registration_type,is_free_hold?,usage,area,property_type,...,property_size_(sq.m),room(s),parking,nearest_metro,nearest_mall,nearest_landmark,no._of_buyer,no._of_seller,master_project,project
0,13-7700-2022,02/06/2022 16:18,44581083,Mortgage,Mortgage Registration,Ready,Free Hold,Residential,AKOYA OXYGEN,Land,...,174.80,NaN,NaN,NaN,NaN,Dubai Cycling Course,0.0,0.0,NaN,DAMAC HILLS (2) - ODORA
1,13-7699-2022,02/06/2022 16:14,44014284,Mortgage,Mortgage Registration,Ready,Free Hold,Residential,AKOYA OXYGEN,Land,...,174.80,NaN,NaN,NaN,NaN,Dubai Cycling Course,0.0,0.0,NaN,DAMAC HILLS (2) - ZINNIA
2,14-563-2022,02/06/2022 15:42,280311,Mortgage,Modify Mortgage,Ready,Non Free Hold,Residential,Al Barshaa South First,Land,...,1188.42,NaN,NaN,Sharaf Dg Metro Station,Mall of the Emirates,Motor City,0.0,0.0,NaN,NaN
3,11-12317-2022,02/06/2022 15:22,79102731,Sales,Sale,Ready,Free Hold,Commercial,AL FURJAN,Land,...,600.51,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN
4,11-12316-2022,02/06/2022 15:07,132952797,Sales,Sale,Ready,Free Hold,Residential,AKOYA OXYGEN,Land,...,112.24,NaN,NaN,NaN,NaN,Dubai Cycling Course,1.0,1.0,NaN,DAMAC HILLS (2) - AMARGO